@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --rich-black: #071013ff;
    --pacific-cyan: #23b5d3ff;
    --moonstone: #75abbcff;
    --cadet-gray: #a2aebbff;
    --platinum: #dfe0e2ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100lvh;
    background-color: var(--platinum);
    display: flex;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 0;
    height: 100%;
    z-index: 5;
}

body.modal-aberto::before {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
    width: 65px;
    height: 100lvh;
    border-right: 3px solid var(--rich-black);
    background-color: var(--moonstone);
    overflow: hidden;
    transition: .8s ease;
}

.menu:hover {
    width: 250px;
}

.icons-topo {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}

.icons-bot {
    height: 50%;
    display: flex;
    align-items: end;
}

.icons-topo i,
.icons-bot i {
    font-size: 1.4rem;
    color: #efefef;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    gap: 25px;
    display: flex;
    align-items: center;
    width: 200px;
}

span {
    font-size: 1rem;
}

a {
    text-decoration: none;
}


.icons-topo i:hover,
.icons-bot i:hover {
    background-color: var(--pacific-cyan);
}

.icons-topo .fa-bars:hover {
    background-color: transparent;
}

.content {
    width: 100%;
    height: 100%;
    padding: 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h1 {
    font-size: 2em;
}

.header-content button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
    color: #efefef;
    background-color: var(--pacific-cyan);
    padding: 8px 12px;
    box-shadow: 1px 1px 2px var(--rich-black);
    transition: all .3s ease;
}


.header-content button:hover {
    background-color: var(--moonstone);
}



.modal , 
.modal-edit {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: var(--moonstone);
    width: 25%;
    max-height: 850px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    z-index: 10;
    border-radius: 10px;
    display: none;
}

.modal-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-title h2 {
    color: #efefef;
}

.modal-title h3 {
    color: #e7e7e7;
    font-weight: 300;
}

.modal form ,
.modal-edit form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1em;
}

.input-group input,
select {
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #e7e7e7;
    color: var(--rich-black);
    font-weight: 600;
    padding: 10px;
}

select {
    cursor: pointer;
}

.input-group input:focus {
    border-color: var(--rich-black);
    outline: none;
}

.btns-content {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btns-content button,
.btns-content input {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .3s ease;
}

.btns-content button {
    background-color: #f2f2f2;
    color: var(--rich-black);
}

.btns-content input {
    background-color: var(--pacific-cyan);
    color: #f2f2f2;
}

.btns-content input:hover {
    background-color: rgb(8, 83, 163);
}

.btns-content button:hover {
    background-color: #babbbd;
}

@keyframes aparecemodal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ativa {
    display: flex;
    animation: aparecemodal .5s ease forwards;
}

.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 95%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
}

td i {
    font-size: 1.5em;
    cursor: pointer;
}

.acoes {
    width: 10%;
}

.acoes-td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.popup,
.popup-erro {
    width: 350px;
    background-color: #efefef;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 20px;
    gap: 35px;
}

.popup.enter {
    animation: msgEnter .6s ease forwards;
    display: flex;
}

.popup.sair {
    animation: msgSaida .6s ease forwards;
    display: flex;
}

.popup-erro.enter {
    animation: msgEnter .6s ease forwards;
    display: flex;
}

.popup-erro.sair {
    animation: msgSaida .6s ease forwards;
    display: flex;
}

.msg {
    font-size: 1.4em;
}

.popup i {
    font-size: 2em;
    color: #10b910;
}

.popup-erro i {
    font-size: 2em;
    color: #e70e0e;
}

@keyframes msgEnter {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes msgSaida {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200%);
    }
}

input[name = 'id'],
.sku-move{
    cursor: not-allowed;
    background-color: #cccccc;
    border: 1px solid var(--rich-black);
}